p.song {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    font-style: italic;
}

p.speech {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    font-style: italic;
}

p.direction {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(192, 192, 232);
    font-size: 20px;
}

p.direction:hover {
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    color: blueviolet;
}

h5.name {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    font-style: italic;
}

.CHORUS {
    color: red;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    text-indent: 100px;
}

.CHORUS:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
    
}

.ELSA {
    color: green;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
}

.ELSA:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.BERTHA {
    color: red;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgreen;
}

.BERTHA:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.OLGA {
    color: orange;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

.OLGA:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.GRET {
    color: blue;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
}

.GRET:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.LUD {
    color: magenta;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: powderblue;
}

.LUD:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.LISA {
    color: brown;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightpink;
}

.LISA:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.NOT {
    color: purple;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
}

.NOT:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

.ALL {
    color: mediumspringgreen;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: peachpuff;
}
.ALL:hover{
    background-color: #FF0000;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 2.5px greenyellow;
    border-style: solid;
    border: 2px;
}

table,
td,
th {
    border: solid 1px;
    color: blueviolet;
    text-align: center;
    padding: 1em;
    margin: 1px;
}

tr:nth-child(odd) {
    background-color: rgb(115, 236, 183);
}

h5.name:hover,
h5.name:active {
    text-shadow: 3px 3px 3px greenyellow;
    border: 2px;
    border-color:blue;
    border-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
